.SensorItem {
  width: 200px;
  display: table;
  justify-content: center;
  align-items: center;
}
  
table {
  border: 2px solid forestgreen;
  width: 1000px;
  height: 80px;
  box-align: center;
}

td {
  text-align: center;
}